header.header
    .header__column
        a(href=routes.home)
            i.fas.fa-tools
    .header__column
        ul
            if !user.isAuthenticated
                li
                    a(href=routes.join) Join
                li
                    a(href=routes.login) log in
            else
                li
                    a(href=routes.userDetail(user.id)) Profile
                li
                    a(href=routes.logout) Log Out
                li
                    a(href=routes.installation) Installation Customer List
