header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fas.fa-tools
        .header__column
            ul
                if !user.isAuthenticated
                    li
                        a(href=routes.join) JOIN
                    li
                        a(href=routes.login) LOG IN
                else
                    li
                        a(href=routes.userDetail(user.id)) PROFILE
                    li
                        a(href=routes.logout) LOG OUT
