include countertopBlock
mixin installationForm
        tr.table__header__row
            th(colspan="5") 고객정보
        tr
            td 고객명
            td
                input(type="text",value=installation.customerName, name="customerName", required=true)
            td 연락처
            td(colspan="2")
                input(type="tel",value=installation.customerPhone, name="customerPhone", required=true)
        tr
            td iSell no.
            td
                input(type="number",value=installation.isellNumber, name="isellNumber", required=true)
            td IHP
            td(colspan="2")
                input(type="text",value=installation.ihpNumber, name="ihpNumber", required=true)
        tr.address__cell
            td 주소
            td(colspan="4")
                input(type="text",value=installation.installationAddress, name="installationAddress", required=true)
        tr.table__header__row
            th(colspan="5") 서비스 내용
        tr
            td 예약 배송일
            td(colspan="4")
                if installation.reservationDate
                    input(type="date", value=dateFormatter("yyyy-MM-dd", installation.reservationDate), name="reservationDate", required=true)
                else
                    input(type="date", value=currentDate, name="reservationDate", required=true)
        tr
            td 실제 배송일
            td(colspan="4")
                if installation.deliveryDate
                    input(type="date", value=dateFormatter("yyyy-MM-dd", installation.deliveryDate), name="deliveryDate", required=true)   
                else
                    input(type="date", value=currentDate, name="deliveryDate", required=true)   
        tr
            td METOD 설치일
            td(colspan="4")
                if installation.installaionDate
                    input(type="date", value=dateFormatter("yyyy-MM-dd", installation.installaionDate), name="installaionDate", required=true)
                else
                    input(type="date", value=currentDate, name="installaionDate", required=true)
        tr
            td METOD 설치 비용
            td(colspan="4")
                input(type="number", value=installation.installationCost, name="installationCost", required=true)
                span 원
        tr
            td CMW 설치일
            td(colspan="4")
                if installation.cmwDate
                    input(type="date", value=dateFormatter("yyyy-MM-dd", installation.cmwDate), name="cmwDate", required=true)
                else
                    input(type="date", value=currentDate, name="cmwDate", required=true)
        tr
            td CMW 설치 비용
            td(colspan="2")
                input(type="number", value=installation.cmwInstallationCost, name="cmwInstallationCost", required=true)
                span 원
            td CMW 재료 비용
            td
                input(type="number", value=installation.cmwCost, name="cmwCost", required=true)
                span 원
        tr.table__header__row
            th(colspan="5") 도어 / 조리대 / 싱크 / 쿡탑
        tr
            td 도어
            td(colspan="2").td__having__options.doorName__cell
                select(name="doorName")
                    each item in doors
                        - var selectedDoorName = installation.doorName;
                        if(item.name === selectedDoorName)
                            option(value=item.name selected)=item.name
                        else
                            option(value=item.name)=item.name
            td 조리대
            td.td__having__options.countertops__cell
                select(name="countertop")
                    each item in countertops
                        - var selectedCountertop = installation.countertop;
                        if(item.name === selectedCountertop)
                            option(value=item.name selected)=item.name
                        else
                            option(value=item.name)=item.name
        tr
            td(rowspan="2") 싱크 & 수전
            td(colspan="2").td__having__options.sinks__cell
                //- input(type="text", value=installation.sink, name="sink", required=true)
                select(name="sink")
                    each item in sinks
                        - var selectedSink = installation.sink;
                        if(item.name === selectedSink)
                            option(value=item.name selected)=item.name
                        else
                            option(value=item.name)=item.name
            td 시공 방식
            td.td__having__options.howToSink__cell
                select(name="howToSink")
                    each item in howToSink
                        - var selectedHowToSink = installation.howToSink;
                        if(item.type === selectedHowToSink)
                            option(value=item.type selected)=item.name
                        else
                            option(value=item.type)=item.name
        tr
            td(colspan="2").td__having__options.taps__cell
                select(name="tap")
                    each item in taps
                        - var selectedTap = installation.tap;
                        if(item.name === selectedTap)
                            option(value=item.name selected)=item.name
                        else
                            option(value=item.name)=item.name
            td 조명
            td.td__having__options.lighting__cell
                select(name="lighting")
                    - var selectedLighting = installation.lighting;
                    if(selectedLighting === "dontLighting")
                        option(value="dontLighting" selected) ❌
                        option(value="doLighting") ⭕
                    else
                        option(value="dontLighting") ❌
                        option(value="doLighting" selected) ⭕
        tr.table__header__row
            th(colspan="5") 후드/조명
        tr
            td 후드
            td
                input(type="text", value=installation.hood, name="hood", required=true)
            td 쿡탑
            td(colspan="2")
                input(type="text", value=installation.cooktop, name="cooktop", required=true)
        tr.table__header__row
            th(colspan="5") 변경 사항
        tr
            td(colspan="5").textarea__cell.change__text
                textarea(name="changeText")=installation.changeText
        tr.table__header__row.not__purchased__header__row
            th(colspan="4") 미구매
            td.not__purchased__td
                label(for="notPurchased") 미구매 없음
                if installation.notPurchased
                    input.np__checkbox(type="checkbox", value="true", name="notPurchased", checked)
                else
                    input.np__checkbox(type="checkbox", value="true", name="notPurchased")
        tr.not__purchased__row
            td article no.
            td(colspan="4") 제품명
                button(type="button").not__purchased__add <i class="fas fa-plus-circle"></i>
        tr.not__purchased__row.not__purchased__top
            td.not__purchased__article__number
                if installation.articleNumber
                    input.not__purchased__input(type="number", value=installation.articleNumber, name="articleNumber")
                else
                    input.not__purchased__input(type="number", name="articleNumber", value="")
            td(colspan="4").not__purchased__article__name
                if installation.articleName
                    input.not__purchased__input(type="text", value=installation.articleName, name="articleName")
                else
                    input.not__purchased__input(type="text", name="articleName", value="")
        //- to do: 더하기 버튼 누르면 행 추가되고, 추가로 미구매 제품 목록 기입 가능하도록
        //- to do: 미구매 제품의 경우, 또 다른 배열이며 배열을 추가할 수 있어야 함.
        tr.table__header__row.singularity__row
            th.logging(colspan="5") 특이 사항
        tr
            td(colspan="5").textarea__cell.singularity__text
                textarea(name="singularityText")=installation.singularityText
                    
                    