mixin mnpListBlock(mnp= {})
    .mnp__list__block
        a(href=routes.mnpDetail(mnp.id))
            span.create_date=dateFormatter("yyyy-MM-dd", mnp.createDate)
            span.customer_name=mnp.customerName
            span.customer_address=mnp.address
            span.create_week_number W #{weekNumber(mnp.createDate)}
            span.reservation_date 설치일: #{dateFormatter("yyyy-MM-dd",mnp.reservationDate)}
